Package: python27-opencv3
Version: 3.1.0
Description: Open Source Computer Vision Library (Python 2.7 bindings)
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
Homepage: http://opencv.org/
Depends: opencv3 (= 3.1.0), python27-numpy (>= 1.10.2)
Source: https://github.com/Itseez/opencv/archive/3.1.0.tar.gz
