Package: python27-numpy
Version: 1.10.2
Description: array processing for numbers, strings, records, and objects
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: numpy
Homepage: http://www.numpy.org
Depends: ATLAS (>= 3.10.2), python2 (>= 2.7.0)
Source: http://downloads.sourceforge.net/project/numpy/NumPy/1.10.2/numpy-1.10.2.tar.gz
