/ipkg/*.ipk
/ipkg/**/*.whl
/ipkg/**/debian-binary
/ipkg/**/*.tar.gz
/ipkg/**/*.tgz
/ipkg/**/*.tar.bz2
/ipkg/**/data*
/ipkg/**/dbgdata
/ipkg/**/dbgtmp
/ipkg/**/devdata
/ipkg/**/devtmp
/ipkg/vars

*.pyc
__pycache__
