Package: python2
Version: 2.7.11
Description: Python programming language
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: python
Homepage: http://www.python.org
Depends: libc6
Recommends: libreadline6
Source: https://www.python.org/ftp/python/2.7.11/Python-2.7.11.tgz
