Package: ATLAS
Version: 3.10.3
Description: Automatically Tuned Linear Algebra Software
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: ATLAS
Homepage: http://www.vesperix.com/arm/atlas-arm/
Depends: libgfortran3 (>= 5.3.0)
Source: http://downloads.sourceforge.net/project/math-atlas/Stable/3.10.3/atlas3.10.3.tar.bz2
