Package: python3-dbg
Version: 3.5.1
Description: Python programming language debug files
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: python3
Homepage: http://www.python.org
Depends: python3 (= 3.5.1)
Source: https://www.python.org/ftp/python/3.5.1/Python-3.5.1.tgz
