Package: python37-dbg
Version: 3.7.2-r0
Description: Python programming language debug files
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: python37
Homepage: http://www.python.org
Depends: python37 (= 3.7.2-r0)
Source: https://www.python.org/ftp/python/3.7.2/Python-3.7.2.tgz
