Package: ATLAS-dev
Version: 3.8.4
Description: Automatically Tuned Linear Algebra Software
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: armv7a-vfp-neon
OE: ATLAS
Homepage: http://www.vesperix.com/arm/atlas-arm/
Depends: ATLAS (= 3.8.4)
Source: http://www.vesperix.com/arm/atlas-arm/source/atlas-3.8.4-arm.tar.gz
