Package: python3-test
Version: 3.4.2
Description: Python programming language test files
Section: devel
Priority: optional
Maintainer: Peter Johnson <johnson.peter@gmail.com>
License: BSD
Architecture: armv7a-vfp-neon
OE: python3
Homepage: http://www.python.org
Depends: python3 (>= 3.4.2)
Source: https://www.python.org/ftp/python/3.4.2/Python-3.4.2.tgz
