Package: ATLAS-dev
Version: 3.10.2
Description: Automatically Tuned Linear Algebra Software (development files)
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: ATLAS
Homepage: http://www.vesperix.com/arm/atlas-arm/
Depends: ATLAS (= 3.10.2)
Source: http://downloads.sourceforge.net/project/math-atlas/Stable/3.10.2/atlas3.10.2.tar.bz2
