Package: python2-tests
Version: 2.7.8
Description: Python programming language test files
Section: devel
Priority: optional
Maintainer: Peter Johnson <johnson.peter@gmail.com>
License: BSD
Architecture: armv7a-vfp-neon
OE: python2
Homepage: http://www.python.org
Depends: python2 (>= 2.7.8)
Source: https://www.python.org/ftp/python/2.7.8/Python-2.7.8.tgz
