Package: mjpg-streamer-py
Version: 2016.3.0
Description: Python plugin for mjpg-streamer
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: GPL
Architecture: cortexa9-vfpv3
Homepage: https://github.com/mjpg-streamer/mjpg-streamer
Depends: mjpg-streamer-cv (= 2016.3.0), python35-opencv3 (= 3.1.0-r1)
Source: https://github.com/robotpy/mjpg-streamer/archive/2016.3.0.tar.gz
