Package: python36-dev
Version: 3.6.4-r0
Description: Python programming language development files
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: python36
Homepage: http://www.python.org
Depends: python36 (= 3.6.4-r0)
Source: https://www.python.org/ftp/python/3.6.4/Python-3.6.4.tgz
