Package: python38-dev
Version: 3.8.0-r0
Description: Python programming language development files
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: python38
Homepage: http://www.python.org
Depends: python38 (= 3.8.0-r0)
Source: https://www.python.org/ftp/python/3.8.0/Python-3.8.0.tgz
