Package: mjpg-streamer
Version: 2016.1.1
Description: Sends video via MJPG stream
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: GPL
Architecture: cortexa9-vfpv3
Homepage: http://www.python.org
Depends: libc6, libjpeg8
Source: https://github.com/robotpy/mjpg-streamer/archive/2016.1.1.tar.gz
