Package: python39
Version: 3.9.0-r0
Description: Python programming language
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: python38
Homepage: http://www.python.org
Depends: libc6
Recommends: libreadline6
Source: https://www.python.org/ftp/python/3.9.0/Python-3.9.0.tgz
