Package: python3
Version: 3.4.2
Description: Python programming language
Section: devel
Priority: optional
Maintainer: Peter Johnson <johnson.peter@gmail.com>
License: BSD
Architecture: armv7a-vfp-neon
OE: python3
Homepage: http://www.python.org
Depends: libc6
Recommends: libreadline6
Source: https://www.python.org/ftp/python/3.4.2/Python-3.4.2.tgz
