Package: opencv3-java
Version: 3.1.0-r2
Description: Open Source Computer Vision Library (Java bindings)
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
Homepage: http://opencv.org/
Depends: opencv3 (= 3.1.0-r2)
Source: https://github.com/Itseez/opencv/archive/3.1.0.tar.gz
