Package: opencv3
Version: 3.1.0-r2
Description: Open Source Computer Vision Library
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
Homepage: http://opencv.org/
Depends: libc6, libstdc++6
Source: https://github.com/Itseez/opencv/archive/3.1.0.tar.gz
