Package: libgfortran3
Version: 4.5.3
Description: Fortran runtime
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: libgfortran
Homepage: http://gcc.gnu.org
