Package: libgfortran3
Version: 6.3.0-r0
Description: Fortran runtime
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: GPL-3.0-with-GCC-exception & GPLv3
Architecture: cortexa9-vfpv3
OE: libgfortran
Homepage: http://gcc.gnu.org
Provides: libgfortran
