Package: openblas
Version: 0.3.7
Description: Optimized BLAS library
Section: devel
Priority: optional
Maintainer: RobotPy Developers <robotpy@googlegroups.com>
License: BSD
Architecture: cortexa9-vfpv3
OE: python38
Homepage: https://www.openblas.net/
Depends: libgfortran4 (>= 7.3.0)
Source: https://github.com/xianyi/OpenBLAS/archive/v0.3.7.tar.gz